@font-face {
    font-family: "cmu";
    src: url("../fonts/cmunrm.ttf");
}
@font-face {
    font-family: "cmu-ttf";
    src: url("../fonts/cmunvt.ttf");
}
body {
    font-family: cmu, sans-serif;
    font-size: 20px;
    padding-top: 50px;
    width: max(60%, 30em);
    margin: auto;
    line-height: 1.5;
}

nav {
    background: white;
    line-height: 1;
    font-size: 18px;
    position: fixed;
    font-variant: small-caps;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    border-bottom: 2px solid #1b82c2;
}
nav ul {
    list-style: none;
    font-weight: normal;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
}
nav ul li {
    display: inline;
}
nav a {
    display: inline-block;
    font-family: cmu;
    width: 10%;
    padding-top: 17px;
    padding-bottom: 17px;
    color: black;
}

a {
    text-decoration: none;
    font-family: cmu-ttf;
    color: #1b82c2;
}
a:hover {
    background: #1b82c2;
    color: black;
}

p {
    text-align: justify;
}

.footer {
    border-top: 2px solid #1b82c2;
    font-size: 16px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.full {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    vertical-align: top;
    float: left;
    padding-right: 40px;
    margin-right: 30px;
    border-right: 2px solid #1b82c2;
}

h1 {
    text-align: center;
    margin: 50px;
    letter-spacing: 2px;
}

ul {
    list-style-type:circle;
}

object {
    height: 75vh;
    width: 100%;
    overflow: hidden;
}

.unit:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.unit { display: inline-table; }
/* Hides from IE-mac \*/
* html .unit { height: 1%; }
.unit { display: block; }
/* End hide from IE-mac */